body{
    width:100vw;
    height:100vh;
    margin:0;
    
    
}
textarea{
    
    display:block;
    width:60%;
    height: 10%;
   
    border:2px solid rgb(218, 218, 26);
    border-radius: 1rem;
    color: black;
    padding: 2rem;
    margin:30px auto;
    overflow:hidden;
    
}           

#btn-translate{
    display:block;
    margin:auto ;
    background-color: yellow;
    border-radius: 0.5rem;
    width:80px;
    right:40% ;
    left:40%;
    cursor:pointer;
    
}

#output{
    display: inline-block;
    
    background-color: rgb(236, 231, 231);
    font-style:italic;
    width:400px;
    min-width:100px;
    height:20px;
    padding: 2rem;
    border-radius: 1rem;
    overflow:auto;
    margin:15px 40px 0 0;
    color:black;
    font-size: 13px;
    overflow:hidden;
}

.bore{
    
    height: 100px;
    width:100px;
    padding-left: rem;
}
.dance{
    width:100px;
    height: 100px;
}
.nav{
    
    font-family: monospace;
    background-color: rgb(255, 255, 88);
    width:100%;
    min-height:100px;
    overflow:hidden;
}
.nav>div{
    display:flex;
    width:100%;
    min-height: 100px;
    flex-wrap:wrap;
    margin:0;
    justify-content: center;
    

}
.span{
    font-size:50px; 
    min-height:100px; 
    position:relative;
  top:50px;
  
  
}

body{
    margin-top: 0px;
}

.guru{
    display: block;
    width:200px;
    height: 200px;
    margin: auto;
}
.judge{
    display:block;
    width:100px;
    height:100px;
    margin:10px auto;
}
.indication{
    
    width:200px;
    padding-top: 2rem;
    margin:0 auto
}

.footer{
    display: block;
    background-color: rgb(49, 49, 49);
    border-radius: 2rem 2rem 0rem 0rem;
    margin-top: 7rem;
    min-height:130px;
    width:100%;
}
.footer>div{
    display:flex;
    width:100%;
}
.hello{
    float: left;
    padding-top:25px ;
    padding-left: 2px;
    width:100px;
   min-height: 100px;
    
}
.out-pos{
    display: flex;
    width:100%;
    
    justify-content:center;
}
.footer span{
    padding: 2rem 2rem 0rem 2rem;
    width:80%;
    
    text-align: center;
    
    word-wrap: break-word;
   
    color:rgb(218, 218, 26) ;
    font-family: monospace;
    font-size:2vw;
    
}